/* Global styles */
html, * {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  font: 1.8rem/1.56 sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
}

.App {
  min-height: 100vh;
  padding: 2.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* @TODO: make the layout work for diferent board sizes */
.board {
  width: 60.0rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.cell {
  width: 18.0rem;
  height: 18.0rem;
  margin: 1.0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4.8rem;
  color: #333;
  background-color: #DDD;
  border-radius: .8rem;
  transition: transform .15s ease-in-out;
  -webkit-transition: transform .15s ease-in-out;
}

/* @TODO: Show activePlayer symbol  */
.cell:hover {
  cursor: pointer;
  background-color: #D2D2D2;
  transform: scale(1.04);
}
.cell:active {
  cursor: pointer;
  transform: scale(.96);
}
.cell.circle {
  background: lightgreen;
  cursor: default;
  transform: none;
}
.cell.circle:after {
  content: 'o';
}
.cell.cross {
  background: lightblue;
  cursor: default;
  transform: none;
}
.cell.cross:after {
  content: '\000D7';
}

/* Media queries */

@media screen and (max-width:660px) {
  html {
    font-size: 42%;
  }
}

@media screen and (max-width:440px) {
  html {
    font-size: 32%;
  }
}

@media screen and (max-width:330px) {
  html {
    font-size: 20%;
  }
}